<div>
    <h5 class="center">Personagens criados</h5>
    <hr />
  
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <table>
          <thead>
            <tr>
              <th data-field="td-value">Personagem</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let c of this.characters" >
              <td [routerLink]="['/listagem', c.characterName]">{{ c.characterName | titlecase }}</td>
              <td class="right">
                <a><i class="material-icons my-icon-size" (click)="onEdit(c)">edit</i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="!characters || characters!.length == 0">
          <div class="row">
            <div class="center-align">
              <i class="col s12 material-icons large">mood_bad</i>
              <span class="col s12 flow-text"
                >Não existem personagens cadastrados!</span
              >
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m6 offset-m3 center">
          <a routerLink="/inicio"> VOLTAR AO MENU PRINCIPAL </a>
        </div>
      </div>

</div>