<div class="my-logo-text">
  <div class="container">
    <a class="brand-logo" href="#">
      <img class="my-logo" src="./assets/resources/images/banner2.png" />
    </a>
  </div>

  <div class="container about">
    <div id="painel-servicos">
      <hr />
      <div class="row">
        <div class="col s12 m6">
          <a routerLink="/cadastro">
            <div class="card-panel red darken-4 center my-card-button">
              <span class="white-text flow-text"> Cadastrar Personagem </span>
            </div>
          </a>
        </div>
        <div class="col s12 m6">
          <a routerLink="/listagem">
            <div class="card-panel red darken-4 center my-card-button">
              <span class="white-text flow-text"> Listar Personagens </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
